{% load static %}

<div class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-section">
                    <h4 class="footer-title">BEAUTY SHOP</h4>
                    <ul class="footer-links">
                        <li><a href="{% url 'core:contacts' %}">Контакти</a></li>
                        <li><a href="{% url 'core:catalog' %}">Каталог товарів</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-section">
                    <h4 class="footer-title">ІНФОРМАЦІЯ</h4>
                    <ul class="footer-links">
                        <li><a href="{% url 'core:about' %}">Про нас</a></li>
                        <li><a href="{% url 'core:delivery' %}">Доставка та оплата</a></li>
                        <li><a href="{% url 'core:returns' %}">Повернення та обмін</a></li>
                        <li><a href="#">Угода користувача</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-section">
                    <h4 class="footer-title">КЛІЄНТУ</h4>
                    <ul class="footer-links">
                        <li><a href="#">Особистий кабінет</a></li>
                        <li><a href="#">Обрані товари</a></li>
                        <li><a href="#">Акції</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-section">
                    <h4 class="footer-title">КОНТАКТИ</h4>
                    <div class="footer-contact">
                        <p><strong>{{ site_phone }}</strong></p>
                        <p>{{ site_email }}</p>
                        <div class="footer-schedule">
                            <p>Пн-Пт 09:00-18:00</p>
                            <p>Сб 10:00-16:00</p>
                            <p>Нд 10:00-15:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="copyright">
                    © Всі права захищені BEAUTY SHOP, 2002-2024
                </p>
            </div>
            <div class="col-md-6">
                <div class="footer-payment">
                    <p class="footer-dev">Розробка сайту PrometeyLabs</p>
                </div>
            </div>
        </div>
    </div>
</div>
